<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="PrettyBin" version="1.1.0" targetFramework="net461" />
  <package id="SharpDX" version="4.1.0-ci184" targetFramework="net461" />
  <package id="SharpDX.Direct2D1" version="4.1.0-ci184" targetFramework="net461" />
  <package id="SharpDX.Direct3D11" version="4.1.0-ci184" targetFramework="net461" />
  <package id="SharpDX.DXGI" version="4.1.0-ci184" targetFramework="net461" />
  <package id="SharpDX.Mathematics" version="4.1.0-ci184" targetFramework="net461" />
  <package id="SharpDX.XAudio2" version="4.1.0-ci184" targetFramework="net461" />
  <package id="SlimDX" version="4.0.13.44" targetFramework="net461" />
  <package id="SlimDX.D3D11Control" version="1.0.1" targetFramework="net461" />
</packages>